<div class="flex justify-center" *ngIf="isLoadingList">
  <img src="assets/gifs/loading.webp" width="50">
</div>
<h1 class="text-2xl text-red-400" *ngIf="!isLoadingList && !contacts?.length">Sem resultados!</h1>
<div class="flex flex-col border rounded-xl" *ngIf="!isLoadingList && contacts?.length">
  <div [ngClass]="{'border-b': i + 1 !== contacts.length}" class="flex justify-between py-2 px-6" *ngFor="let contact of contacts; index as i">
    <div class="flex w-1/2 justify-between">
      <h1>{{contact.name}}</h1>
      <h1>{{contact.email}}</h1>
      <h1>{{contact.cellPhone}}</h1>
    </div>
    <div class="flex w-1/8 justify-between">
      <img class="cursor-pointer" *ngIf="!contact.favorite" (click)="addFavorite(contact)"  width="25px" height="25px" src="assets/png/outline-heart.png" alt="" draggable="false">
      <img class="cursor-pointer" *ngIf="contact.favorite" (click)="removeFavorite(contact)" width="25px" height="25px" src="assets/png/red-heart.png" alt="" draggable="false">
      <img class="cursor-pointer" (click)="editContact(contact)" width="20px" height="20px" src="assets/png/pencil.png" alt="" draggable="false">
      <img class="cursor-pointer" (click)="removeContact(contact.id)" width="25px" height="25px" src="assets/png/trash.png" alt="" draggable="false">
    </div>
  </div>
</div>
